body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
    text-align: justify;
}

.navbar-dark {
    background-color: #418C11;
}

#logoutButton {
    text-decoration: none;
  }

.row-header {
    margin: 0px auto;
    /* padding: 0px 0px; */
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.modal-header {
    background: #418C11;
    color: floralwhite;
  }
  
  .modal-body {
    background: #addfad;
    color: darkgreen;
  }

.jumbotron {
    margin: 0px auto;
    padding: 70px 30px;
    background: #addfad;
    color: darkgreen;
}

img {
    width: 25vmax;
    margin-left: 2vmax;
  }

  table {
  border: 1px solid black;
  text-align: center;
  border-collapse: collapse;
  margin: 2vmax auto;
  width: 100%;
  
}
th, td {
  padding: 3px;
/* width: 8vmax; */
}

caption {
  caption-side: top;
  text-align: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(231, 43, 43);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked+.slider {
    background-color: #418C11;
  }
  
  input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  /* toggle button */

.footer {
    background: #e9ffdb;
    margin: 0px auto;
  padding: 20px 0px;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}