body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
    text-align: justify;
}

.navbar-dark {
    background-color: #418C11;
}

.row-header {
    margin: 0px auto;
    /* padding: 0px 0px; */
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.modal-header {
    background: #418C11;
    color: floralwhite;
  }
  
  .modal-body {
    background: #addfad;
    color: darkgreen;
  }

.jumbotron {
    margin: 0px auto;
    padding: 70px 30px;
    background: #addfad;
    color: darkgreen;
}

img {
    width: 25vmax;
    margin-left: 2vmax;
  }
.footer {
    background: #e9ffdb;
    margin: 0px auto;
  padding: 20px 0px;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}